<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name:</label>
    <label for="password">Enter password:</label>
    <label for="email">Enter email:</label>
    <label for="phone">Enter phone:</label>
    <label for="address">Enter address:</label>
    <input type="text" th:field="*{name}" id="name" />
    <input type="text" th:field="*{password}" id="password" />
    <input type="text" th:field="*{email}" id="email" />
    <input type="text" th:field="*{phone}" id="phone" />
    <input type="text" th:field="*{address}" id="address" />
    <br>
    <input type="submit" value="Update!" />
</form>
</body>
</html>