<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:encoding="UTF-8">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:if="${emptyList}">
        <h1>Список пользователей пуст</h1>
        <a href="/addUser">Добавить пользователя</a>
    </th:block>
    <th:block th:if="${not #lists.isEmpty(userList)}">
        <div th:each="user : ${userList}">
            <h1 th:text="${user.name}"></h1>
        </div>
        <a href="/addUser">Добавить пользователя</a>
    </th:block>
</div>
</body>

